<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021788054246-mqnf79sevi65tkn4t0q9h7h3e7ci6pfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021788054246-mqnf79sevi65tkn4t0q9h7h3e7ci6pfd</string>
	<key>API_KEY</key>
	<string>AIzaSyCkPlxfdZFtXLDJcnNMVNFe6f2YE-iYerc</string>
	<key>GCM_SENDER_ID</key>
	<string>1021788054246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>empresa.HuertaSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-cc327</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-cc327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021788054246:ios:6b0e5b4af9293fd949d127</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-cc327-default-rtdb.firebaseio.com</string>
</dict>
</plist>