<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651614198751-emkljt0j538244b2r0brco0ut26dr3p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651614198751-emkljt0j538244b2r0brco0ut26dr3p2</string>
	<key>API_KEY</key>
	<string>AIzaSyDfdfkHVRhP1pLb_zvb9NV_Aa8UJCc1F-s</string>
	<key>GCM_SENDER_ID</key>
	<string>651614198751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>miempresa.ProyectoIntegrador1</string>
	<key>PROJECT_ID</key>
	<string>proyectointegrador-54e41</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectointegrador-54e41.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651614198751:ios:93583c3fbd0d5954bf426a</string>
</dict>
</plist>